{:test-all-drivers ["chrome"]

 :server-root "http://stage.avaea.com"
 :pom {
       :one-way {
                 :from-button "#from-area"
                 :to-button "#to-button"
                 :airport-input "#airport-input"
                 :ariport-list ".tt-dataset-airport"
                 :airport-list-element ".tt-suggestion"

                 }
       :round-way {}
       :general {}
       :dec_w1 {}
       :page {}
       }
 }
