.flight-info {
    .result-search-info-bar {
        color: #c2c5d0;
    }
}

#searchResultData {
    .itinerary {
        .col-icon-airline {
            width: 1%;
            padding: 0 10px;
        }
        .airlineIcon {
            margin: 0 3px 0 0;
        }
        .col-from-to {
            padding-left:3px;
            padding-right: 4px;
        }
    }
    .mymorebutton {
        font-family: WhitneyHTF-BookCondensed;
        font-size: 15px;
        background-color: #101742;
        color: white;
    }
    .merchandising {
        display: inline-block;
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            .gicon {
                background: transparent url("../../images/merchandising-icons-sprite-15x14-30.png") no-repeat center;
                width: 15px;
                height: 15px;
                display: inline-block;
                margin: 7px 10px 0 0;
            }
            .wifi {
                background-position: 0 0;
            }
            .priority_seat {
                background-position: 0 -47px;
            }
            .luggage {
                background-position: 0 -112px;
            }
        }
    }
}

.show-tiles-arrow {
    #tiles_ui {
        .row {
            &.hideArrow:after {
                display: none;
            }
        }
    }
}