#searchResultData {
    .itinerary {
        .col-icon-airline {
            width: 1%;
            padding: 0 10px;
        }
        .airlineIcon {
            margin: 0 3px 0 0;
        }
        .col-from-to {
            padding-left:3px;
            padding-right: 4px;
        }
    }
    .mymorebutton {
        font-family: WhitneyHTF-BookCondensed;
        font-size: 15px;
        background-color: #101742;
        color: white;
    }
}