<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Demo</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/slick-theme.css">
    <link rel="stylesheet" href="/styles/slick.css">
    <!--STYLES END-->
  </head>

  <body>





  <script src="/js/dependencies/jquery.js"></script>
  <script src="/js/turk.js"></script>

  </body>
</html>
