<div class="auth-form" layout="row" flex-sm="45" flex-gt-sm="35" flex-gt-md="20" layout layout-align="center center" ng-cloak>

    <md-whiteframe class="auth-frame md-whiteframe-1dp" flex="100" layout layout-align="center center">

        <div layout="column" ng-cloak>
            <md-content layout-padding>
                <form name="authForm" ng-keyup="$event.keyCode == 13 && login(auth)">

                    <md-input-container class="md-block">
                        <label>Login</label>
                        <input name="login" ng-required="true" ng-model="auth.login">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-required="true" ng-model="auth.password" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-checkbox class="blue" name="remember"  ng-model="auth.remember" role="auth.remember">Remember me</md-checkbox>
                    </md-input-container>
                </form>
                <p class="error" ng-show="errorMessage">{{errorMessage}}</p>
                <md-button class="auth-button md-raised md-primary" ng-disabled="!auth.login || !auth.password" ng-click="login(auth)">Login</md-button>
                <md-button id="gotoRegister" class="auth-button md-primary" ng-click="gotoRegister()">Register</md-button>

            </md-content>
        </div>

    </md-whiteframe>
</div>