<div id="addNewItem-traveler" class="traveler add-new-item">

    <div class="header">
        <div class="action"></div>
        <div class="type">Type</div>
        <div class="title">Title</div>
        <div class="first-name">First name</div>
        <div class="middle-name">Middle name</div>
        <div class="last-name">Last name</div>
        <div class="birthday">Date of Birth</div>
        <div class="gender">Gender</div>
    </div>

    <div class="row" ng-model="travelerForm">
        <div class="action"></div>
        <div class="type">Type</div>
        <div class="title">Title</div>
        <div class="first-name">First name</div>
        <div class="middle-name">Middle name</div>
        <div class="last-name">Last name</div>
        <div class="birthday">Date of Birth</div>
        <div class="gender">Gender</div>
    </div>

    <div class="action-buttons">
        <md-button class="md-raised md-primary" ng-click="saveNewItemForm(travelerForm)">
            Save
        </md-button>

        <md-button class="md-raised" ng-click="hideNewItemForm(section.id)">
            Cancel
        </md-button>

    </div>
</div>