/* ------------------------------
  
  Begin static/static.css
  loads for static pages only
  
--------------------------------- */


/* syntax
   transition: all 0.1s ease-in-out;
	 :not(.search-result) 
*/

.hide,
.static.contact form .error-msg,
.static-nav-button,
footer.app-copy {
	display: none;
}

h1.skeleton {
	color: #ff0099;
	text-align: center;
	margin: 5em 0 10em 0;
}

body {
	min-width: 320px;
}



/* take away app styles */

#spa-app {
	padding-bottom: 0;
}

.desktop #spa-app {
	/* this one is min-width for Wayfare
	   take it away if we don't use Wayfare */
	min-width: 300px;
}

.desktop {
	text-align: center;
	margin: 0;
	padding: 0;
	background: none;
}

.desktop:before {
	display: none;
}

.desktop .desktop-wrapper {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	background: #ffffff;
	border-radius: 0;
	box-shadow: none;
}

.desktop .desktop-inner {
	padding-bottom: 0;
	border: none;
}

input {
	border-radius: 0;
}

header, footer, .content {
	display: block;
}

/* overwrite undo style from ABO bootstrap
   glyphicons.less
	 buttons.less
*/

h1, h2, h3 {
	margin: 0 0 0 0;
}

ul {
	margin-bottom: 0;
}

textarea {
	border-radius: 0;
}


/* ------- colors ------- */

body,
.static-features span {
	color: #323232;
}

.rdr-Day.is-selected.is-inRange,
.rdr-Day.is-inRange,
.rdr-Day.is-inRange:hover {
	color: #222222 !important;
}

/* dark blue */
.static-nav-button,
.static.about input,
h1,
h2,
.textly .subti,
footer.static .copyright,
footer a.social:after {
	color: #062868;
}

footer.static {
	background: #062868;
}

.overlay {
  background: rgba(6, 40, 85, .2);
}

.try-it {
  background: rgba(6, 40, 85, .85);
}

.suggest-container, .suggest-item {
	color: #004c9c;
}

/* bright blue */
header.static li.active a,
header.static li.active a:active,
header.static li.active a:visited {
	color: #00a9e7;
}

/* light blue */

.team.second,
.static .about.compare {
	background: #f9fafe;
}

.team .person .image {
	background: #eff0f4;
}


/* green */

h3 {
	color: #15cb61;
}

.buttonly,
header.static li.flight-search {
	background: #15cb61;
}

.upcoming {
	border: 1px solid #15cb61;
}

a.buttonly:hover,
header.static li.flight-search:hover {
	background: #00a93f;
}

.static .success {
	background: #f4fdf0;
}



/* red */

.static.contact .required:before,
.static.contact form .error-msg {
	color: #ed2741;
}


/* gray */

body,
.static-feature span {
	color: #323232;
}

header.static a, 
header.static a:hover, 
header.static a:visited,
.team .person .ti {
	color: #919191;
}

header.static .left a:hover {
	color: #666666;
}

.static .success {
	border: 1px solid #d7d7d7;
}

header,
.about.level.compare {
	border-bottom: 1px solid #d7d7d7;
}

.about.level.compare {
	border-top: 1px solid #d7d7d7;
}

.static-features .copy,
.upcoming .copy,
.static.contact .form-label {
	color: #919191;
}

/* gold */





/* ------- everywhere parts ------- */


h1,
h2,
.slogan.third {
  font-size: 40px;
}

.content.static h2,
.content.static h3 {
	font-family: 'Open-Sans-Light';
}

a.buttonly {
	color: #ffffff;
	font-size: 28px;
	font-family: 'Open-Sans-Light';
	text-align: center;
	padding: 15px 50px 15px 50px;
	transition: all 0.1s ease-in-out;
}

header.static li.flight-search {
	border-radius: 15px;
}

.try-it,
.static .success {
  border-radius: 4px;
}


/* ------- header ------- */

header.static {
	padding: 20px 0px 20px 230px;
	position: relative;
	min-height: 70px;
	height: 70px;
	z-index: 5; /* get it above the video area */
}

header.static a.brand {
	display: inline-block;
	height: 65px;
	width: 275px;
	position: absolute;
		top: 0;
	background: #ffffff url(../images/static/logo-beta.svg) 5px 5px no-repeat;
	background-size: 275px;
}

header.static a.brand,
header.static a.brand:hover,
header.static a.brand:visited {
	opacity: 1;
}

.static-nav-button {
	font-size: 30px;
	padding: 0 15px;
}

header.static  nav {
	width: 100%;
	display: table;
}

header.static nav .left,
header.static nav .right {
	display: table-cell;
}

header.static nav .left {
	text-align: center;
}

header.static nav .right {
	text-align: center;
	max-width: 245px;
	width: 245px;
}

header.static ul,
footer.static ul {
  list-style-type: none;
	display: inline-block;
}

header.static li,
footer.static li {
	font-size: 14px;
	display: inline-block;
}

header.static a, 
header.static a:hover, 
header.static a:visited {
	font-family: 'Open-Sans-Semibold';
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 15px;
}

header.static li.flight-search {
	margin-right: 10px;
}

header.static li.flight-search a,
header.static li.flight-search a:hover {
	color: #ffffff;
}


/* ------- pages ------- */

.content.static {
	display: block;
}


/* about */

.about.top {
  position: relative;
}

.about-top-copy {
  color: #ffffff;
  font-family: 'Open-Sans-Light';
  font-size: 28px;
  text-align: center;
  padding: 50px 0;
  width: 100%;
  position: absolute;
    top: 0;
}

.slogan.first,
.slogan.second {
	padding: 0 4px;
}

.slogan.third {
  font-size: 40px;
  padding: 0 0 10px 0;
  display: block;
	position: relative;
}

.slogan.third:after {
	content:'\2122';
	font-size: 26px;
	position: relative;
	  top: -8px;
}

.video-holder {
  height: 600px;
  position: relative;
  overflow: hidden;
}

.overlay,
video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
    top: 50%;
    left: 50%;
  background-size: cover;
  transform: translateX(-50%) translateY(-50%);
}

video { 
  background: url('../images/static/tarmac-placeholder.jpg') no-repeat;
}

.try-it {
	margin: 20px 0 0 0;
	padding: 30px 50px 30px 50px;
  width: 60%;
	display: inline-block;
  border-radius: 4px;
}

.try-it .ti,
.try-it span {
	font-size: 25px;
}

.try-it .copy {
	font-size: 26px;
	margin: 10px 0 40px 0;
}

.try-it span:not(.slogan) {
	padding: 0 18px;
}

.content.static.about h1 {
	text-align: center;
}

.level {
	margin-bottom: 70px;
}


/* desktop wayfare ad units */


.about.second.level h1, 
.about.third > copy {
    margin: 0 40px;
}

.static .about.compare {
	text-align: left;
	padding: 0 530px 0 0;
	position: relative;
}

.static .about.compare:after {
	content: '';
	width: 575px;
	height: 485px;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../images/static/tickets-compare.svg) 40px 10px no-repeat;
}

.static .about.compare .wrapper {
	margin: 60px 0 70px 100px;
}

.static .about.compare h1 {
	font-family: 'Open-Sans-Light';
	font-size: 36px;
	line-height: 44px;
	text-align: left;
	position: relative;
}

.static .about.compare strong,
.static .about.compare span {
	font-family: 'Open-Sans';
	font-weight: normal;
}

.static .about.compare span {
	font-size: 26px;
	position: relative;
		top: -10px;
}

.static .about.compare ul {
	font-family: 'Open-Sans-Light';
	margin: 30px 0 0px 30px;
}

.static .about.compare li {
	padding: 0 0 5px 40px;
	list-style-type: none;
	position: relative;
	background: url(../images/static/checkmark-static.svg) 0 2px no-repeat;
}

.static-features {
	padding: 0 50px;
}

.static-features > div {
	padding: 40px 50px 20px 50px;
	display: table-cell;
	width: 32%;
	min-width: 285px;
}

.static-features > div .copy {
	text-align: left;
}

.static-features h2,
.static-features h3 {
	font-family: 'Open-Sans-Light';
	text-align: center;
}

.static-features h3,
.static .about.compare ul {
	font-size: 20px;
	line-height: 30px;
}

.static-features .graphic {
	margin: 12px 0;
	height: 130px;
	width: 100%;
}

.static-features .copy,
.upcoming .copy,
.static.contact .form-label,
.static .success  {
	font-family: 'Open-Sans-Light';
  font-size: 16px;
	line-height: 30px;
}

.static-features span {
	font-family: 'Open-Sans';
}

.feature-voice .graphic {
	background: url(../images/static/graphic-voice.svg) center no-repeat;
}

.feature-ff .graphic {
	background: url(../images/static/graphic-ff.svg) center no-repeat;
}

.feature-price .graphic {
	background: url(../images/static/graphic-price.svg) center no-repeat;
}

.about.third {
	margin-bottom: 0;
}

.about.third .wrapper {
	text-align: center;
	margin: 20px auto 40px;
	display: inline-block;
}

.about.third > .copy,
.about .upcoming .ti,
.team.top .copy,
.static.contact .copy {
	font-family: 'Open-Sans-Light';
	font-size: 22px;
	line-height: 32px;
}

.about .upcoming .ti {
	margin-bottom: 10px;
}

.about.third > .copy {
	margin: 20px auto;
	text-align: center;
	width: 700px;
}

.about .upcoming {
	margin: 15px;
	text-align: left;
	padding: 30px;
	width: 340px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
}

.about.graphic {
	width: 100%;
	height: calc(100vw * .42);
	position: relative;
	bottom: -55px;
	background: url(../images/static/world.svg) center bottom no-repeat;
	background-size: 104%
}


/* team */

.team.top {
	text-align: left;
	padding-top: 35px;
	padding-right: 420px;
	position: relative;
}

.team.top .wrapper {
	margin: 80px 0 90px 110px;
}

.team.top .copy {
	margin: 20px 0 70px 0;
}

.team.top:after {
	content: '';
	width: 375px;
	height: 485px;
	display: inline-block;
	position: absolute;
		right: 0;
		bottom: -90px; 
	background: url(../images/static/globe-about.svg) 15px 0px no-repeat;
}

.team.second:before {
	content: '';
	width: 120px;
	height: 200px;
	display: inline-block;
	position: absolute;
		top: -120px;
		right: 0px;
	background: url(../images/static/passport.svg) 20px 0px no-repeat;
}

.team.second:after {
	content: '';
	width: 90px;
	height: 75px;
	display: inline-block;
	position: relative;
		bottom: -140px;
	background: url(../images/static/tickets.svg) 0px 0px no-repeat;
}

.team.second {
	text-align: center;
	position: relative;
	padding-bottom: 100px;
}

.team.second h2 {
	padding: 50px 0;
}

.team .person {
	font-size: 16px;
	line-height: 28px;
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

.person .image {
	margin: 0 auto;
	display: inline-block;
	width: 155px;
	height: 155px;
	border-radius: 50%;
}

.team .person .ti,
.team .person .bio {
	font-family: 'Open-Sans-Light';
}

.team .person .bio {
	line-height: 24px;
	margin: 10px 40px 60px 40px;
}

.person.jafri .image {
	background: #ffffff url(../images/static/team-jafri-hi.png) -1px top no-repeat;
	background-size: 157px;
}

.person.michael .image {
	background: #ffffff url(../images/static/team-michael-hi.png) -1px top no-repeat;
	background-size: 157px;
}

.person.willg .image {
	background: #ffffff url(../images/static/team-willg-hi.png) -1px top no-repeat;
	background-size: 157px;
}

.person.bills .image {
	background: #ffffff url(../images/static/team-bills-hi.png) -1px top no-repeat;
	background-size: 157px;
}

.person.irina .image {
	background: #ffffff url(../images/static/team-irina-hi.png) -1px top no-repeat;
	background-size: 157px;
}

.person.cf .image {
	background: #ffffff url(../images/static/team-cf-hi.png) -1px top no-repeat;
	background-size: 157px;
}

.person.cf .name:before {
	content: 'Constantine Filin';
}

.person.alext .image {
	background: #ffffff url(../images/static/team-alext-hi.png) -1px top no-repeat;
	background-size: 157px;
}

.person.cc .image {
	background: #ffffff url(../images/static/team-cc-hi.png) -1px top no-repeat;
	background-size: 157px;
}

.person.deborah .image {
	background: #ffffff url(../images/static/team-deborah-hi.png) -1px top no-repeat;
	background-size: 157px;
}

.person.aftab .image {
	background: #ffffff url(../images/static/team-aftab-hi.png) -1px top no-repeat;
	background-size: 157px;
}

.person.adja .image {
	background: #ffffff url(../images/static/team-adja-hi.png) -1px top no-repeat;
	background-size: 157px;
}

.person.veronica .image {
	background: #ffffff url(../images/static/team-veronica-hi.png) -1px top no-repeat;
	background-size: 157px;
}

.person.paul .image {
	background: #ffffff url(../images/static/team-paul-hi.png) -1px top no-repeat;
	background-size: 157px;
}

.person.bills {
	display: none;
}

.team .button-holder {
	text-align: center;
	margin-bottom: 120px;
}


/* privacy, terms
	 moved to core.css 
	 so modals can use */


/* contact */

.static.contact {
	text-align: left;
	padding: 70px 70px 120px 70px;
	position: relative; 
}

.static.contact .copy {
	margin: 20px 0;
	width: 70%;
}

.static.contact a.buttonly {
	margin-top: 20px;
}

.static.contact .line-item {
	padding-bottom: 10px;
}

.static.contact .required {
	position: relative;
}

.static.contact .required:before {
	content: '*';
	font-size: 24px;
	display: inline-block;
	position: relative;
		top: 5px;
		left: -5px;
}

.static.contact input {
	font-size: 14px;
	padding: 8px 10px;
}

.static.contact input,
.static.contact textarea {
	width: 35%;
}

.static.contact textarea {
	height: 140px;
}

.static.contact a.buttonly {
	position: relative;
}

.static.contact a.buttonly.sending {
	padding-left: 70px;
}

.static.contact a.buttonly.sending:before {
	content: '';
	display: inline-block;
	height: 42px;
	width: 42px;
	position: absolute;
		top: 12px;
		left: 20px;
	background: url(../images/button-spinner.svg) no-repeat;
	-webkit-animation: spin 1.5s infinite linear;
	animation: spin 1.5s infinite linear;
}

.static .success {
	margin: 40px 0;
	padding: 60px 60px 60px 120px;
	width: 50%;
	position: relative;
}

.static .success:before {
	content: '';
	display: inline-block;
	width: 76px;
	height: 76px;
	position: absolute;
		top: 35px;
		left: 30px;
	background: url(../images/static/checkmark-success.svg)  0 0 no-repeat;
}

.static.contact form .line-item.error .error-msg {
	display: block;
}


/* ------- footer ------- */

/* ----------------------

	 moved shared styles to 
	 core.css

   ---------------------- */
	 
footer.static .top a, 
footer.static .top a:hover, 
footer.static .top a:visited {
	color: #ffffff;
	opacity: .5;
}

footer.static .top a:hover {
	opacity: .75;
}

footer.static .top nav .active a,
footer.static .top nav .active a:hover,
footer.static .top nav .active a:visited {
	opacity: 1;
}

footer.static a.social {
	background: rgba(255, 255, 255, 1);
}

footer.static a.social,
footer.static a.social:after {
	height: 50px;
	width: 50px;
}

footer.static a.social:after {
	font-size: 34px;
		top: 8px;
		left: 0;
}

footer.static .wrapper {
  padding: 30px 0 20px 0;
}

footer.static .copyright {
	padding: 20px 20px 50px 20px;
	display: inline-block;
}

footer.static .copyright:before {
	content: '\00A9';
}

footer.static .bottom {
  background: rgba(255, 255, 255, .5);
}




/* ------- responsive ------- */


@media (min-width: 970px) and (max-width: 1185px) {
	
	.static-features > div {
		padding-left: 25px;
		padding-right: 25px;
	}
	
	.static-features {
		padding: 0 20px;
	}
	
}


@media (max-width: 984px) {
	
	.static-features > div {
		margin: 0 auto;
		padding-top: 20px;
		display: block;
		width: 70%;
	}
	
	.static-features > div .copy {
    font-size: 20px;
	}
	
	.static .about.compare .wrapper {
		margin-bottom: 0;
	}
	
	.static .about.compare {
		padding-right: 0;
	}
	
	.static .about.compare ul {
		margin-bottom: 20px;
	}
	
	.static .about.compare:after {
		margin-bottom: -30px;
		height: calc(77vw * .75);
		width: 100%;
		position: relative;
		background: url(../images/static/tickets-compare.svg) right 0 no-repeat;
		background-size: 77%;
	}
	
	.about.graphic {
		height: calc(100vw * .55);
		background-size: 135%;
	}
	
	.static.contact .copy {
    width: 100%;
	}
	
	.static.contact input, 
	.static.contact textarea {
    width: 65%;
	}
	
	.static .success {
		display: inline-block;
		width: auto;
	}
	
}

@media (min-width: 911px) {
	
	header.static .brand {
		left: 0;
	}

}


/* triggers responsive nav */
@media (max-width: 910px) {
	
	.static-nav-button {
		cursor: pointer;
		display: inline-block;
	}
	
	.touch .static-nav-button {
		margin-top: -5px;
	}
	
	header.static {
		text-align: left;
		padding-left: 20px;
		padding-right: 280px;
	}
	
	header.static a.brand {
		right: 0;
	}
	
	.touch header.static {
		padding-left: 0;
	}
	
	header.static nav.respond {
		display: inline-block;
	}
	
	header.static nav {
		display: none;
		width: 280px;
		position: absolute;
			top: 70px;
			left: 0;
			padding: 20px 20px 50px 20px;
		background: #062868;
	}
	
	header.static a, 
	header.static a:hover, 
	header.static a:visited,
	header.static li.active a, 
	header.static li.active a:active, 
	header.static li.active a:visited,
	header.static .left a:hover {
		color: #ffffff;
		font-family: 'Open-Sans';
		opacity: .5;
	}
	
	header.static .left a:hover {
		opacity: .75;
	}
	
	header.static li.active a, 
	header.static li.active a:active, 
	header.static li.active a:visited,
	header.static li.flight-search a, 
	header.static li.flight-search a:hover {
		opacity: 1;
	}
	
	header.static nav .left,
	header.static nav .right
	 {
		text-align: left;
		display: block;
		width: 100%;
	}
	
	header.static nav .right {
		margin-top: 20px;
	}
	
	header.static li {
		font-size: 18px;
		margin: 8px;
		display: block;
	}
	
	header.static li.flight-search {
		margin-bottom: 20px;
	}
	
	.about.third h1,
	.about.third > .copy {
		width: 80%;
	}
	
	.about.third h1 {
		margin: 0 auto;
	}
	
	.try-it {
		width: 80%;
	}
	
	.about.graphic {
    height: 500px;
    background-size: 1200px;
	}
	
	.team.top {
		padding-right: 300px;
	}
	
	.team.top .wrapper {
		margin-top: 20px;
		margin-left: 40px;
	}
	
	.team.top:after {
		width: 295px;
		background: url(../images/static/globe-about.svg) 0px 80px no-repeat;
		background-size: 450px;
	}
	
	.team .person {
		width: 45%;
	}
	
	.textly {
		margin: 0 40px;
		padding-bottom: 90px;
	}
	
}

@media (max-width: 675px) {
	
	slogan.third {
		line-height: 50px;
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.team.top {
		padding-top: 10px;
		padding-right: 40px;
		padding-bottom: 250px;
	}
	
	.team.top .copy {
		margin-bottom: 50px;
	}
	
	.team.top:after {
		width: 100%;
		height: 385px;
		background: url(../images/static/globe-about.svg) center 0px no-repeat;
		background-size: 92%;
	}
	
}

@media (max-width: 565px) {
	
	
	.try-it {
		width: 90%;
	}
	
	.static-features {
		padding-left: 0;
		padding-right: 0;
	}
	
	.static-features > div {
		padding-left: 20px;
		padding-right: 20px;
		width: 85%;
	}
	
	.static .about.compare .wrapper {
		margin-left: 40px;
    margin-right: 40px;
	}
	
	.static .about.compare ul {
		margin-left: 0;
		margin-bottom: 20px;
	}
	
	.static .about.compare:after {
		height: calc(120vw * .75);
		background: url(../images/static/tickets-compare.svg) -10px 10px no-repeat;
		background-size: 120%;
	}
	
	.about-top-copy {
		padding-top: 30px;
	}
	
	.about.third .wrapper {
		margin-bottom: 0;
	}
	
	.about .upcoming {
		width: 90%;
		height: auto;
	}
	
	.about .graphic {
		bottom: -105px;
	}
	
	.static.contact,
	.team .person {
		padding-top: 30px;
		padding-right: 40px;
		padding-left: 40px;
		width: 100%;
	}
	
	.team.second {
		padding-bottom: 0px;
	}
	
	.team.second:after {
		bottom: -40px;
	}
	
	.team .button-holder {
		margin-bottom: 60px;
	}
	
	.static.contact {
		padding-bottom: 60px;
	}
	
	.static.contact input, 
	.static.contact textarea {
    width: 100%;
	}
	
	.static .success {
		text-align: center;
		padding: 20px 40px 30px 40px;
		width: 100%;
	}
	
	.static .success:before {
		display: block;
		width: 100%;
		height: 90px;
		position: relative;
			top: 0;
			left: 0;
		background: url(../images/static/checkmark-success.svg)  top center no-repeat;
	}
	
	.static a.buttonly {
		line-height: 30px;
		padding: 25px 25px 25px 25px;
	}
	
	
}


@media (max-width: 460px) {
	
	header.static .brand {
		right: 0;
	}
	
	.about.top.level {
		margin-bottom: 40px;
	}
	
	.video-holder {
		height: 480px;
	}
	
	.slogan.third {
		font-size: 32px;
	}
	
	.team.top {
		padding-bottom: 150px;
	}
	
	.team.top:after {
		height: 270px;
		background-size: 120%;
	}
	
	.try-it {
		margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
	}
	
	.try-it .copy {
		font-size: 22px;
	}
	
	.about-top-copy {
		padding-bottom: 30px;
	}
	
	.team .person .bio {
		margin: 10px 30px 30px 30px;
	}
	
}


/* iPhone 6, Android */
@media (max-width: 380px) {
	
	.try-it {
		width: 90%;
	}
	
	.static-features > div .copy {
    font-size: 18px;
	}
	
	.static.contact .form-label {
		line-height: 22px;
	}
	
}


/* iPhone 5 */
@media (max-width: 359px) {
	
	header.static {
		min-height: 60px;
    height: 60px;
	}
	
	.touch .static-nav-button {
		margin-top: -8px;
	}
	
	header.static nav {
		top: 60px;
	}
	
	.touch header.static a.brand {
		width: 235px;
		height: 55px;
			right: 0px;
		background: #ffffff url(../images/static/logo-beta.svg) 10px 5px no-repeat;
    background-size: 235px;
	}

	.slogan.first, 
	.slogan.second {
    font-size: 22px;
	}
	
	.slogan.third {
		font-size: 26px;
    font-family: 'Open-Sans';	
	}
	
	.try-it {
		padding-top: 20px;
		width: 90%;
	}
	
	.try-it .copy {
		font-size: 22px;
	}
	
	.static a.buttonly {
		font-size: 25px;
	}
	
	.about-top-copy {
		padding-top: 20px;
	}
	
	.team.top {
		padding-right: 20px;
		padding-bottom: 150px;
	}
	
	.team.top .wrapper {
		margin-bottom: 60px;
	}
	
	.team.top .copy {
		margin-bottom: 40px;
	}
	
	.team.top:after {
		height: 230px;
		background-size: 120%;
	}
	
	.team .person .bio {
		margin-left: 0;
		margin-right: 0;
	}
	
	.static.contact .form-label {
		line-height: 20px;
	}
	
	header.static nav.respond,
	header.static nav .right {
		min-width: 260px;
		width: 260px;
		max-width: 260px;
	}
	
}

@media (max-width: 330px) {
	
	.team.top:after {
		background-size: 120%;
	}
	
	.try-it {
		padding-left: 20px;
		padding-right: 20px;
	}
	
}


/* iPhone and Android landscape */
@media (min-aspect-ratio: 13/9) {
	
	.touch .static-features {
		padding: 0 20px;
	}
	
	.touch .static-features > div {
		padding: 20px 20px 20px 20px;
		display: table-cell;
	}
	
	.touch .static-features .graphic { 
		height: 110px;
		background-size: 110px;
	}
	
	.touch .static-features > div:last-child:before {
		content: '';
		margin: 0 -30px 30px -30px;
    display: block;
    border-top: 1px solid #d7d7d7;
	}
	
	.touch .static-features > div:last-child {
		display: block;
		width: 80%;
	}
	
	.touch .static-features > div .copy {
		font-size: 18px;
	}
	
	.touch .about .upcoming {
		width: 270px;
		height: 250px;
	}
	
	.touch .upcoming .copy {
		line-height: 28px;
	}
	
}




/* animations */


@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}



/* FF Firefox fixes */

/* firefox rendering font too thin */
@-moz-document url-prefix() {
	body {
    -moz-osx-font-smoothing: auto;
	}

}


/* ie10 ie11 */

html[data-useragent*='Trident'] .stylehere {
 
}



/* ------------------------------ 
  
  ENDS static/static.css
  
--------------------------------- */