/* ------------------------------
  
  Begin static/static.css
  loads for static pages only
  
--------------------------------- */


/* syntax
   transition: all 0.1s ease-in-out;
	 :not(.search-result) 
*/

.hide,
.desktop .desktop-wrapper:after {
	display: none;
}

h1.skeleton {
	color: #ff0099;
	text-align: center;
	margin: 5em 0 10em 0;
}



/* take away app styles */

.desktop {
	text-align: center;
	margin: 0;
	padding: 0;
	background: none;
}

.desktop:before {
	display: none;
}

.desktop .desktop-wrapper {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	background: #ffffff;
	border-radius: 0;
	box-shadow: none;
}

.desktop .desktop-inner {
	border: none;
}

input {
	border-radius: 0;
}

/* overwrite undo style from ABO bootstrap
   glyphicons.less
	 buttons.less
*/

h1, h2, h3 {
	margin: 0 0 0 0;
}

.nav > li > a:hover, 
.nav > li > a:focus {
	background-color: transparent;
}

ul {
	margin-bottom: 0;
}


/* ------- colors ------- */

body,
.static-features span {
	color: #323232;
}

/* dark blue */
input,
h1,
h2 {
	color: #062868;
}

footer.static {
	background: #062868;
}

.overlay {
  background: rgba(6, 40, 85, .5);
}

.try-it {
  background: rgba(6, 40, 85, .9);
}

/* bright blue */
header.static li.active a {
	color: #00a9e7;
}

/* green */

h3 {
	color: #15cb61;
}

.buttonly,
header.static li.flight-search {
	background: #15cb61;
}

/* gray */

body,
.static-feature span {
	color: #323232;
}

header.static a, 
header.static a:hover, 
header.static a:visited {
	color: #919191;
}

header {
	border-bottom: 1px solid #d7d7d7;
}

.static-features .copy {
	font-size: 16px;
	color: #919191;
}


/* everywhere parts */

h1,
h2,
.slogan.third {
  font-size: 40px;
}

.content.static h2,
.content.static h3 {
	font-family: 'OpenSans-Light';
}

a.buttonly {
	color: #ffffff;
	padding: 15px 50px 15px 50px;
}

header.static li.flight-search {
	border-radius: 15px;
}


/* header */

header,
footer {
	padding: 20px;
}

header.static {
	padding-left: 230px;
	position: relative;
	background: #ffffff url(../images/static/logo-beta.svg) 12px 8px no-repeat;
	background-size: 230px;
	z-index: 5; /* get it above the video area */
}

header nav {
	width: 100%;
	display: table;
}

header nav .left,
header nav .right {
	display: table-cell;
}

header nav .left {
	text-align: center;
}

header nav .right {
	width: 245px;
	text-align: right;
}

header.static ul {
  list-style-type: none;
	display: inline-block;
}

header.static li {
	font-size: 14px;
	display: inline-block;
}

header.static a, 
header.static a:hover, 
header.static a:visited {
	font-family: 'Open-Sans-Semibold';
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 15px;
}

header.static li.flight-search {
	margin-right: 10px;
}

header.static li.flight-search a,
header.static li.flight-search a:hover {
	color: #ffffff;
}


/* pages */

.content.static {
	display: block;
}


/* home */

.home.level.top {
  position: relative;
}

.home-top-copy {
  color: #ffffff;
  font-family: 'Open-Sans-Light';
  font-size: 28px;
  text-align: center;
  padding: 50px 0;
  width: 100%;
  position: absolute;
    top: 0;
}

.slogan {
	padding: 0 5px;
}

.slogan.third {
  font-size: 40px;
  padding: 10px 0;
  display: block;
}

.video-holder {
  height: 600px;
  position: relative;
  overflow: hidden;
}

.overlay,
video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
    top: 50%;
    left: 50%;
  background-size: cover;
  transform: translateX(-50%) translateY(-50%);
}

video { 
  background: url('../images/static/tarmac-placeholder.jpg') no-repeat;
}

.try-it {
	margin: 20px 0 0 0;
	padding: 30px 20px 30px 20px;
  width: 60%;
	display: inline-block;
  border-radius: 4px;
}

.try-it .ti {
	font-size: 25px;
}

.try-it form {
	display: inline-block;
}

.try-it form .wrapper {
	text-align: left;
	margin-bottom: 25px;
}

.try-it input {
	font-size: 19px;
	text-align: center;
	padding: 5px;
	width: 100%;
}

.try-it .loc-holder {
	margin-bottom: 15px;
}

.try-it .loc-holder input {
	width: 195px;
}

.try-it span {
	font-size: 19px;
	padding: 0 18px;
}

.content.static.home h1 {
	text-align: center;
}

.level {
	margin-bottom: 70px;
}

.level.second:after,
.level.third:after {
	content: '';
	display: block;
	margin: 0 50px;
	border-bottom: 1px solid #d7d7d7;
}

.home.second.level h1 {
	margin: auto;
	max-width: 675px;
}

.static-features {
	font-family: 'OpenSans-Light';
	padding: 0 50px;
}

.static-features > div {
	padding: 40px 50px 50px 50px;
	display: table-cell;
	width: 32%;
	min-width: 285px;
}

.static-features h2,
.static-features h3 {
	text-align: center;
}

.static-features h3 {
	font-size: 20px;
	line-height: 30px;
}

.static-features .graphic {
	margin: 12px 0;
	height: 130px;
}

.static-features .copy {
	line-height: 30px;
}

.static-features span {
	font-family: 'OpenSans';
}

.feature-voice .graphic {
	background: url(../images/static/graphic-voice.svg) center no-repeat;
}

.feature-ff .graphic {
	background: url(../images/static/graphic-ff.svg) center no-repeat;
}

.feature-price .graphic {
	background: url(../images/static/graphic-price.svg) center no-repeat;
}


/* heredeb */



/* footer */

footer.static {
	text-align: center;
	display: block;
}

footer.static span.copyright {
	color: #ffffff;
	padding: 0 20px 0 0;
	opacity: .5;
}

footer.static a,
footer.static a:hover,
footer.static a:visited {
	color: #3abbec;
	padding: 0 10px;
}







/* ------------------------------ 
  
  ENDS static/static.css
  
--------------------------------- */