/* ------------------------------
  
  Begin static/static.css
  loads for static pages only
  
--------------------------------- */


/* syntax
   transition: all 0.1s ease-in-out;
	 :not(.search-result) 
*/

.hide,
.desktop .desktop-wrapper:after {
	display: none;
}

h1.skeleton {
	color: #ff0099;
	text-align: center;
	margin: 5em 0 10em 0;
}



/* take away app styles */

.desktop {
	text-align: center;
	margin: 0;
	padding: 0;
	background: none;
}

.desktop:before {
	display: none;
}

.desktop .desktop-wrapper {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	background: #ffffff;
	border-radius: 0;
	box-shadow: none;
}

.desktop .desktop-inner {
	padding-bottom: 0;
	border: none;
}

input {
	border-radius: 0;
}

/* overwrite undo style from ABO bootstrap
   glyphicons.less
	 buttons.less
*/

h1, h2, h3 {
	margin: 0 0 0 0;
}

.nav > li > a:hover, 
.nav > li > a:focus {
	background-color: transparent;
}

ul {
	margin-bottom: 0;
}


/* ------- colors ------- */

body,
.static-features span {
	color: #323232;
}

/* dark blue */
input,
h1,
h2,
.textly .subti {
	color: #062868;
}

footer.static {
	background: #062868;
}

.overlay {
  background: rgba(6, 40, 85, .5);
}

.try-it {
  background: rgba(6, 40, 85, .9);
}

/* bright blue */
header.static li.active a {
	color: #00a9e7;
}

/* light blue bg */

.about.second,
.static .home.compare {
	background: #f9fafe;
}

.about .person .image {
	background: #eff0f4;
}


/* green */

h3 {
	color: #15cb61;
}

.buttonly,
header.static li.flight-search {
	background: #15cb61;
}

.upcoming {
	border: 1px solid #15cb61;
}

a.buttonly:hover,
header.static li.flight-search:hover {
	background: #00a93f;
}


/* gray */

body,
.static-feature span {
	color: #323232;
}

header.static a, 
header.static a:hover, 
header.static a:visited,
.about .person .ti {
	color: #919191;
}

header.static .left a:hover {
	color: #666666;
}

header,
.home.level.compare {
	border-bottom: 1px solid #d7d7d7;
}

.home.level.compare {
	border-top: 1px solid #d7d7d7;
}

.static-features .copy,
.upcoming .copy {
	color: #919191;
}


/* ------- everywhere parts ------- */

h1,
h2,
.slogan.third {
  font-size: 40px;
}

.content.static h2,
.content.static h3 {
	font-family: 'Open-Sans-Light';
}

a.buttonly {
	color: #ffffff;
	font-size: 28px;
	font-family: 'Open-Sans-Light';
	padding: 15px 50px 15px 50px;
}

header.static li.flight-search {
	border-radius: 15px;
}


/* ------- header ------- */

header,
footer {
	padding: 20px;
}

header.static {
	padding-left: 230px;
	position: relative;
	background: #ffffff url(../images/static/logo-beta.svg) 5px 8px no-repeat;
	background-size: 230px;
	z-index: 5; /* get it above the video area */
}

header nav {
	width: 100%;
	display: table;
}

header nav .left,
header nav .right {
	display: table-cell;
}

header nav .left {
	text-align: center;
}

header nav .right {
	width: 245px;
	text-align: right;
}

header.static ul {
  list-style-type: none;
	display: inline-block;
}

header.static li {
	font-size: 14px;
	display: inline-block;
}

header.static a, 
header.static a:hover, 
header.static a:visited {
	font-family: 'Open-Sans-Semibold';
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 15px;
}

header.static li.flight-search {
	margin-right: 10px;
}

header.static li.flight-search a,
header.static li.flight-search a:hover {
	color: #ffffff;
}


/* ------- pages ------- */

.content.static {
	display: block;
}


/* home */

.home.top {
  position: relative;
}

.home-top-copy {
  color: #ffffff;
  font-family: 'Open-Sans-Light';
  font-size: 28px;
  text-align: center;
  padding: 50px 0;
  width: 100%;
  position: absolute;
    top: 0;
}

.slogan {
	padding: 0 5px;
}

.slogan.third {
  font-size: 40px;
  padding: 10px 0;
  display: block;
}

.video-holder {
  height: 600px;
  position: relative;
  overflow: hidden;
}

.overlay,
video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
    top: 50%;
    left: 50%;
  background-size: cover;
  transform: translateX(-50%) translateY(-50%);
}

video { 
  background: url('../images/static/tarmac-placeholder.jpg') no-repeat;
}

.try-it {
	margin: 20px 0 0 0;
	padding: 30px 20px 30px 20px;
  width: 60%;
	display: inline-block;
  border-radius: 4px;
}

.try-it .ti {
	font-size: 25px;
}

.try-it form {
	display: inline-block;
}

.try-it form .wrapper {
	text-align: left;
	margin-bottom: 25px;
}

.try-it input {
	font-size: 19px;
	text-align: center;
	padding: 5px;
	width: 100%;
}

.try-it .loc-holder {
	margin-bottom: 15px;
}

.try-it .loc-holder input {
	width: 195px;
}

.try-it span {
	font-size: 19px;
	padding: 0 18px;
}

.content.static.home h1 {
	text-align: center;
}

.level {
	margin-bottom: 70px;
}

.static .home.compare {
	padding: 0 530px 0 0;
	position: relative;
}

.static .home.compare:after {
	content: '';
	width: 575px;
	height: 485px;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 40px;
	background: url(../images/static/tickets-compare.svg) 40px 0px no-repeat;
}

.static .home.compare .wrapper {
	margin: 80px 0 100px 100px;
}

.static .home.compare h1 {
	text-align: left;
	position: relative;
}

.static .home.compare span {
	font-family: 'Open-Sans-Light';
	font-size: 26px;
	position: relative;
		top: -10px;
}

.static .home.compare ul {
	font-family: 'Open-Sans-Light';
	margin: 20px 0;
}

.static .home.compare li {
	padding: 0 0 5px 40px;
	list-style-type: none;
	position: relative;
	background: url(../images/static/checkmark-static.svg) 0 2px no-repeat;
}

.home.second.level h1,
.home.third > copy {
	margin: auto;
	max-width: 675px;
}

.static-features {
	padding: 0 50px;
}

.static-features > div {
	padding: 40px 50px 20px 50px;
	display: table-cell;
	width: 32%;
	min-width: 285px;
}

.static-features h2,
.static-features h3 {
	font-family: 'Open-Sans-Light';
	text-align: center;
}

.static-features h3,
.static .home.compare ul {
	font-size: 20px;
	line-height: 30px;
}

.static-features .graphic {
	margin: 12px 0;
	height: 130px;
	width: 275px;
}

.static-features .copy,
.upcoming .copy {
	font-family: 'Open-Sans-Light';
  font-size: 16px;
	line-height: 30px;
}

.static-features span {
	font-family: 'Open-Sans';
}

.feature-voice .graphic {
	background: url(../images/static/graphic-voice.svg) center no-repeat;
}

.feature-ff .graphic {
	background: url(../images/static/graphic-ff.svg) center no-repeat;
}

.feature-price .graphic {
	background: url(../images/static/graphic-price.svg) center no-repeat;
}

.home.third {
	padding-bottom: 320px;
}

.home.third .wrapper {
	text-align: center;
	margin: 20px auto 40px;
	display: inline-block;
}

.home.third > .copy,
.home .upcoming .ti,
.about.top .copy {
	font-family: 'Open-Sans-Light';
	font-size: 22px;
	line-height: 32px;
}

.home .upcoming .ti {
	margin-bottom: 10px;
}

.home.third > .copy {
	margin: 20px auto;
	text-align: center;
	width: 700px;
}

.home .upcoming {
	margin: 15px;
	text-align: left;
	padding: 30px;
	width: 340px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
}

.home.graphic {
	width: 100%;
	height: 500px;
	position: absolute;
	bottom: 0;
	background: url(../images/static/world.svg) center top no-repeat;
	background-size: 88%
}

/* about */

.about.top {
	padding-top: 35px;
	padding-right: 420px;
	position: relative;
}

.about.top .wrapper {
	margin: 80px 0 90px 110px;
}

.about.top .copy {
	margin: 20px 0 70px 0;
}

.about.top:after {
	content: '';
	width: 375px;
	height: 485px;
	display: inline-block;
	position: absolute;
		right: 0;
		bottom: -90px; 
	background: url(../images/static/globe-about.svg) 15px 0px no-repeat;
}

.about.second:before {
	content: '';
	width: 120px;
	height: 200px;
	display: inline-block;
	position: absolute;
		top: -120px;
		right: -20px;
	background: url(../images/static/passport.svg) 0px 0px no-repeat;
}

.about.second:after {
	content: '';
	width: 90px;
	height: 75px;
	display: inline-block;
	position: absolute;
		bottom: -40px;
	background: url(../images/static/tickets.svg) 0px 0px no-repeat;
}

.about.second {
	text-align: center;
	position: relative;
	padding-bottom: 100px;
}

.about.second h2 {
	padding: 50px 0;
}

.about .person {
	font-size: 16px;
	line-height: 28px;
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

.person .image {
	margin: 0 auto;
	display: inline-block;
	width: 155px;
	height: 155px;
	border-radius: 50%;
}

.about .person .ti,
.about .person .bio {
	font-family: 'Open-Sans-Light';
}

.about .person .bio {
	line-height: 24px;
	margin: 10px 40px 60px 40px;
}

.person.jafri .image {
	background: url(../images/static/team-jafri-lo.gif) no-repeat;
}

.person.blank .image {
	background: transparent;
}

.about .button-holder {
	text-align: center;
	margin-bottom: 70px;
}

/* privacy, terms */

.textly {
	margin: 0 15%;
	padding-bottom: 130px;
}

.textly h1 {
	text-align: center;
	margin: 50px 20px 8px 20px;
}

.textly .updated {
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}

.textly .intro {
	font-family: 'Open-Sans-Light';
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 20px;
}

.textly .subti {
	font-size: 16px;
	font-family: 'Open-Sans-Semibold';
	margin: 15px 0;
}

.textly strong {
	font-family: 'Open-Sans-Bold';
}

.textly ul {
	margin: 15px 0 15px 15px;
}

.textly li,
.textly .sub-copy {
	margin: 8px 0;
}




/* heredeb */



/* ------- footer ------- */

footer.static {
	text-align: center;
	padding-bottom: 30px;
	display: block;
	position: relative;
	z-index: 1;
}

footer.static span.copyright {
	color: #ffffff;
	padding: 0 20px 0 0;
	opacity: .5;
}

footer.static a,
footer.static a:hover,
footer.static a:visited {
	color: #3abbec;
	padding: 0 10px;
}







/* ------------------------------ 
  
  ENDS static/static.css
  
--------------------------------- */