body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

body * {
    outline: none;
    font-size: 12px !important;
}

.close-menu-button {
    position: absolute;
    top: 0;
    left: 285px;
}

.auth-form {
    margin: 0 auto;
    margin-top: 40px;
}

.register-buttons {
    text-align: center;
}

.auth-button {
     text-transform: none;
     font-weight: bold;
 }

.md-sidenav-left {
    overflow-x: hidden;
    z-index: 10000;
}

md-checkbox.md-default-theme.md-checked, md-checkbox.md-checked .md-icon {
    background-color: rgb(63,81,181);
}

.global-menu-bar {
    background-color: rgba(63,81,181, 0.5);
    width: 100%;
    height: 70px;
}

.global-menu-bar .menu-button {
    float: left;
}
.global-menu-name {
    float: left;
    line-height: 70px;
    font-size: 30px;
    color: #fff;
}

.content-container {
    width: 100%;
    overflow-x: hidden;
    color: #000
}

.menu-item {
    color: black;
    cursor: pointer;
}

md-list-item.menu-active {
    font-weight: bold;
    background-color: rgba(0,0,0,0.08);
    cursor: default !important;
}

md-list-item.menu-active a, md-list-item.menu-active a:hover {
    cursor: default;
}

md-list-item.menu-item-disabled {
    color: rgba(0,0,0, 0.6);
    font-style: italic;
    cursor: default !important;
}

md-list-item.md-3-line, md-list-item.md-3-line > .md-no-style {
    min-height: 38px;
}

.icon-logout {
    width: 17px;
    height: 17px;
    margin-left: 5px;
    cursor: pointer;
}
.icon-logout:hover {
    width: 20px;
    height: 20px;
}

.capital{
    text-transform: capitalize;
}

.hidden {
    display: none;
}
.error {
    color: #A00000;
}

.bold {
    font-weight: bold;
}