.booking-cart {
    margin-top: 20px;
}

.booking-cart .section-button {
    line-height: 36px;
    width: 110px;
    text-transform: none !important;
}

.booking-cart .section {
    width: 100%;
}

.booking-cart .section .section-title-row {
    height: 25px;
    line-height: 25px;
}

.booking-cart .section .section-title-row .title-text {
    float: left;
    margin-right: 5px;
}

.booking-cart .section .section-title-row .item-add-button {
    transition: none !important;
    float: left !important;
    height: 20px !important;
    width: 20px !important;
    line-height: 10px !important;
    margin: auto 10px 0 0 !important;
    min-height: 0px !important;
}

.booking-cart .section .section-title-row .item-add-button md-icon{
    width: 10px;
    margin: -2px 0 0 -1px;
}


.booking-cart .add-new-item {
    background: lightgrey;
}

.booking-cart .traveler.add-new-item {
    margin-top: 5px;
    display: none;
}

.booking-cart .traveler.add-new-item .header, .booking-cart .traveler.add-new-item .row {
    width: 100%;
    float: left;
}

.booking-cart .traveler.add-new-item .header {
    font-weight: bold;
}

.booking-cart .traveler.add-new-item .header > div, .booking-cart .traveler.add-new-item .row > div{
    float: left;
}

.booking-cart .traveler.add-new-item .action {
    width: 50px;
}

.booking-cart .traveler.add-new-item .type {
    width: 100px;
}

.booking-cart .traveler.add-new-item .title {
    width: 100px;
}

.booking-cart .traveler.add-new-item .first-name {
    width: 100px;
}

.booking-cart .traveler.add-new-item .middle-name {
    width: 100px;
}

.booking-cart .traveler.add-new-item .last-name {
    width: 100px;
}

.booking-cart .traveler.add-new-item .birthday {
    width: 100px;
}

.booking-cart .traveler.add-new-item .gender {
    width: 100px;
}

.booking-cart .traveler.add-new-item .action-buttons {
    float: right;
}

.booking-cart .traveler.add-new-item .action-buttons .md-button {
    text-transform: none;
    line-height: 26px;
}