.flight-price-dialog {
    max-height: 400px;
    max-width: 610px;
    height: 300px;
    width: 300px;
}

.flight-price-dialog.price-loaded {
    width: 610px;
    height: 400px;
}

.flight-price-dialog md-dialog-content {
    height: 100%;
}

.flight-price-dialog md-dialog-actions {
    position: absolute;
    bottom: 0;
    right: 0;
}

.flight-price-dialog .spinner {
    margin: 0 auto;
    top: 120px;
}

.flight-price-dialog md-divider.price-info {
    line-height: 45px;
    margin-left: 10px;
}

.flight-price-dialog .price-data-container {
    max-height: 350px;
    overflow-y: auto;
}

.flight-price-dialog .price-data {
    float: left;
    margin-left: 10px;
    width: 580px;
}

.flight-price-dialog .header {
    background-color: rgba(63,81,181, 0.3);
}

.flight-price-dialog .type, .flight-price-dialog .currency, .flight-price-dialog .value {
    border-bottom: solid 1px rgba(0,0,0,0.12);
    padding: 5px 5px 0px 5px;
}

.flight-price-dialog .type {
    width: 430px;
    float: left;
}

.flight-price-dialog .type.info-row {
    padding-left: 15px;
    width: 420px;
}

.flight-price-dialog .currency, .flight-price-dialog .value {
    width: 60px;
    float: left;
}
.flight-price-dialog .currency {
    text-align: center;
}

.flight-price-dialog .value {
    text-align: right;
}
