<%
/* global reqParams */
/* global bookingRes */
%>

<div class="sitepage booking-success">
 
  <div class="success ti">Booked Itinerary</div>
  
  <!--  <% include includes/flightunit.ejs %> -->
  
  <!--  ------------- flight unit ----------------- -->
  
  <div id="searchResultData" class="flight-unit">
    
    <div id="2983d194-6d7d-4497-8a6b-7611cb8e9d8c" for="cli0" class="itinerary undefined" smart="undefined">
      <div class="wrapper">

      <div class="row title">
        <div class="itinerary-airline">
          <span class="airline-text">Alaska Airlines </span>
        </div>
        <div class="itinerary-price">$148.70</div>
      </div>

      <div class="itinerary-holder">
          
          <div class="itinerary-info">
            <div class="col-xs-3 departLoc">
              04:00p SJC
            </div>
            <div class="col-xs-2 connections text-center">
                <span class="arr-connects">
                  <span class="connections">1</span>
                </span>
            </div>
            
            <div class="col-xs-3 arriveLoc">08:53p PDX</div>
            <div class="col-xs-3 duration">4h 53m</div>
          </div>
          
          <div class="itinerary-info">
            <div class="col-xs-3 departLoc">07:56a PDX</div>
            <div class="col-xs-2 connections text-center">
                <span class="arr-connects">
                  <span class="connections">1</span>
                </span>
            </div>
            
            <div class="col-xs-3 arriveLoc">04:55p SJC</div>
            <div class="col-xs-3 duration">8h 59m</div>
          </div>
          
      </div>

      <div class="row collapse" id="cli0"><div class="col-xs-12">
      <div class="row">
        <div class="col-sm-12">
          <strong>Depart</strong>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong>AS2404</strong></div>
        <div class="col-xs-5"><strong>Alaska Airlines</strong></div>
        <div class="col-xs-4 text-right">1h 45m</div>
      </div>
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong> 04:00p</strong></div>
        <div class="col-xs-3">10/01/2016</div>
        <div class="col-xs-3">SJC</div>
      </div>
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong> 06:45p</strong></div>
        <div class="col-xs-3">10/01/2016</div>
        <div class="col-xs-3">BOI</div>
      </div>

      
      
      
      <div class="row">
        <div class="col-xs-6 text-nowrap">Change planes</div>
        <div class="col-xs-2">BOI</div>
        <div class="col-xs-4 text-right">1h 49m</div>
      </div>
      
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong>AS2318</strong></div>
        <div class="col-xs-5"><strong>Alaska Airlines</strong></div>
        <div class="col-xs-4 text-right">1h 19m</div>
      </div>
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong> 08:34p</strong></div>
        <div class="col-xs-3">10/01/2016</div>
        <div class="col-xs-3">BOI</div>
      </div>
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong> 08:53p</strong></div>
        <div class="col-xs-3">10/01/2016</div>
        <div class="col-xs-3">PDX</div>
      </div>

      
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-xs btn-info btn-block mymorebutton" id="mymorebtn0_0" role="button" for="0_0">More</button>
        </div>
      </div>
      <div class="row hidden mymorecontent0_0">
        <div class="panel panel-default">
          <div class="panel-heading">Merchandising Information</div>
          <div class="panel-body">
            <ul>
              <li>WiFi</li>
              <li>1st bag free</li>
            </ul>
          </div>
        </div>
      </div>
    
      <div class="row" style="margin-top: 4px;">
        <div class="col-sm-12">
          <strong>Return</strong>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong>UA714</strong></div>
        <div class="col-xs-5"><strong>United Airlines</strong></div>
        <div class="col-xs-4 text-right">2h 35m</div>
      </div>
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong> 07:56a</strong></div>
        <div class="col-xs-3">10/09/2016</div>
        <div class="col-xs-3">PDX</div>
      </div>
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong> 11:31a</strong></div>
        <div class="col-xs-3">10/09/2016</div>
        <div class="col-xs-3">DEN</div>
      </div>
      
      <div class="row">
        <div class="col-xs-6 text-nowrap">Change planes</div>
        <div class="col-xs-2">DEN</div>
        <div class="col-xs-4 text-right">3h 51m</div>
      </div>
      
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong>UA2025</strong></div>
        <div class="col-xs-5"><strong>United Airlines</strong></div>
        <div class="col-xs-4 text-right">2h 33m</div>
      </div>
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong> 03:22p</strong></div>
        <div class="col-xs-3">10/09/2016</div>
        <div class="col-xs-3">DEN</div>
      </div>
      <div class="row">
        <div class="col-xs-3 text-nowrap"><strong> 04:55p</strong></div>
        <div class="col-xs-3">10/09/2016</div>
        <div class="col-xs-3">SJC</div>
      </div>
      
    </div>
    </div>
      
      </div>
    </div> <!-- ends itinerary -->
    
  </div>
  <!--  --------- ends flight unit ---------- -->

  <div class="copy"><span>PNR:</span> <%= bookingRes.PNR %></div>
  <div class="copy"><span>Reference Number:</span> <%= bookingRes.ReferenceNumber %></div>

  <div class="buttons">
    <button class="big-button" onclick="window.location.href='/order?id=<%= reqParams.id %>&searchId=<%= reqParams.searchId %>'">
      Buy More
    </button> 
  </div>

</div>

