<%
/* global reqParams */
/* global bookingRes */
%>

<div class="booking-success">
 
  <div class="e-ticket confirmation">
    <div class="confirm-code">
      <div class="success ti">E-Ticket</div>
      <div class="wrapper">
        <span class="label-ti">Reservation (PNR):</span>
        <span class="number"><%= bookingRes.PNR %></span>
      </div>
      <div class="wrapper">
        <span class="label-ti">Ticket:</span>
        <span class="number"><!--  NEED TICKET NUMBER HERE --></span>
      </div>
      
    </div>
  </div>
  
  <div class="confirm-message">
    <div class="name">Dear&nbsp;<!--  NEED FIRSTNAME HERE -->&nbsp;<!--  NEED LASTNAME HERE -->,</div>
    <div class="thanks">Thank you for choosing Avaea!</div>
    <div class="copy">
      You're all set for your next trip. Your ticket has been issued as an electronic ticket.
      Please check your email for confirmation.
    </div>
  </div>
  
  <!-- ------------- REACT FLIGHT UNIT ------------ -->
  <!-- -------------------------------------------- -->
  
  <!-- script for the React flight unit -->
  
  <script>
  var ItineraryData = <%- JSON.stringify(order[0]) %>;
  var InitResultData = {iconSpriteMap: []};
  </script>
  
  <div class="trip ti">Trip Details</div>
  
  <div class="flight-unit">
  
    <!-- here is the div that the React unit replaces  -->
    <div id="booked-flight-unit" class="booked-flight-unit"></div>
  
  </div> 
  
  <!-- -------------------------------------------- -->
  <!-- --------- ENDS REACT FLIGHT UNIT ----------- -->
  
  
  <div class="help-contact">
    <span class="copy">Need help? &nbsp;&nbsp;<a href="mailto:support@avaea.com?subject=E-Ticket Confirmation">Email Us</a> &nbsp;or call (000) 000-0000</span>
    
  </div>

  <!-- 
  <div class="buttons">
    <button class="big-button" onclick="window.location.href='/order?id=<%= reqParams.id %>&searchId=<%= reqParams.searchId %>'">
      Buy More
    </button> 
  </div>
   -->

</div>

