<%
/* global reqParams */
/* global bookingRes */
%>

<div class="sitepage booking-success">
 
  <div class="success ti">Booked Itinerary</div>

  <div class="copy"><span>PNR:</span> <%= bookingRes.PNR %></div>
  <div class="copy"><span>Reference Number:</span> <%= bookingRes.ReferenceNumber %></div>

  <div class="buttons">
    <button class="big-button" onclick="window.location.href='/order?id=<%= reqParams.id %>&searchId=<%= reqParams.searchId %>'">
      Buy More
    </button> 
  </div>

</div>

