<%
/* global fieldsData */
%>
<div id="onlynavbar" page="order"></div>

<form id="form_booking" class="booking">

  <!-- hacky enforce conventions on the unconventional nav structure
       Deborah will fix later -->
       <style>
        .navbar-toggle {
          display: none;
        }
        .navbar-brand {
          padding-top: 0;
          padding-left: 0;
        }
       </style>
  <!-- ----------------------- -->

  <script>
  var itineraryId = "<%= itineraryData.id %>";
  var specialOrder = <%= fieldsData.special %>;
  var InitResultData = {iconSpriteMap: []};
  var searchId = "<%= fieldsData.searchId %>"; // @todo Check and remove
  </script>

  <div id="OrderPanel"></div>

</form>

<div id="OrderSpecialModal"></div>

  <!-- Modal -->
  <div id="bookingModal" class="modal fade bookingModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="copy">
            Booking your trip!
          </div>
          <div class="spinner-holder">
            <div class="icon-spinner"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
