<script>
  var AboutPageData = {
    user: {email:"<%= user.email %>", id: <%= user.id %>},
    cur_year: new Date().getFullYear(),
    software_version: "<%= site_info.software_version %>",
    contact_email: "<%= site_info.contact_email %>"
  };


</script>

<div id="aboutpage"></div>
