<script>
  var InitData = {
    user: {email:"<%= user.email %>", id: <%= user.id %>},
    page: "<%= page %>"
  };
  var serviceClass = <%- JSON.stringify(serviceClass) %>;
</script>
<div id="spa-app"></div>
