<%
/* global profile_fields */
 %>
<form action="user/update" name="Profile" id="Profile" method="post" class="form profile">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

<!--  Deborah temporary fix - hacky, will fix -
      make sure body height adjusts to long injected form (desktop) -->
<style>
body.desktop {
  height: 1625px;
}
</style>


  <div id="UserProfile"></div>


<style>
    body { padding-bottom: 70px; }
</style>

<div class="button-holder">
  <button type="submit" class="big-button" >Update</button>
</div>

</form>

<script type="text/javascript">
    <% if (typeof profile_fields == 'object' ) {%>
    UserProfileData = <%- JSON.stringify(profile_fields) %>;
    <% } else { %>
    UserProfileData = {};
    <% } %>
    UserProfileStructure = {
      gender: <%- JSON.stringify(Profile.attr_gender) %>,
      pax_type: <%- JSON.stringify(Profile.attr_pax_type) %>
    };
    UserProgramsStructure = {
      travel_type: <%- JSON.stringify(Profile.attr_travel_type) %>
    };
</script>
