<div class="booking-cart" layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-cloak>

    <md-button class="md-raised section-button" ng-class="{'md-primary': sectionsAll}" ng-click="toggleSection('all')">
        All
    </md-button>

    <md-button class="md-raised section-button" ng-class="{'md-primary': section.show}" ng-repeat="section in sections" ng-click="toggleSection(section.id)">
        {{section.title}} ({{section.count}})
    </md-button>

    <md-card class="section" id="travelers" layout="column" ng-repeat="section in sections" ng-hide="!section.show">
        <md-card-content>

            <div class="section-title-row">
                <div class="title-text">{{section.title}}</div>

                <md-button class="md-fab md-primary item-add-button" ng-hide="section.readonly" aria-label="Add {{section.title}}" ng-click="showNewItemForm(section.id)">
                    <md-icon md-svg-src="img/svg/plus.svg"></md-icon>
                    <md-tooltip>Add new</md-tooltip>
                </md-button>
            </div>

            <md-divider></md-divider>

            <ng-include src="'/modules/bookingCart/sections/' + section.id + '.html'"></ng-include>

        </md-card-content>
    </md-card>

</div>