/* ---------------
   icons.css
	 --------------- */ 
	 	
		
/* soon to be removed - glyphicons */
		
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.woff') format('woff'); 
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.glyphicon.glyphicon-remove:before {
  content: "\e014";
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2wiwcx');
  src:  url('../fonts/icomoon.eot?2wiwcx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2wiwcx') format('truetype'),
    url('../fonts/icomoon.woff?2wiwcx') format('woff'),
    url('../fonts/icomoon.svg?2wiwcx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


#accordion .panel-title a:after,
.booking .ti:before,
.arr-connects:before,
.arr-connects:after,
.arr-connects-none:before,
.arr-asc:before,
.arr-desc:before,
.glyphicon.glyphicon-chevron-left:before,
.glyphicon.glyphicon-chevron-right:before,
.close-x:before,
.passenger-count:before,
.back-history:before,
.clear-textarea:before,
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
	position: relative;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* icons */

.passenger-count:before,
.icon-account:before {
  content: "\e900";
}
.icon-arr-dropdown:before {
  content: "\e901";
}
.icon-arr-dropdown-up:before {
  content: "\e92c";
}
.arr-asc:before,
.icon-arr-ascend:before {
  content: "\e927";
}
.arr-desc:before,
.icon-arr-descend:before {
  content: "\e928";
}
.arr-connects-none:before,
.icon-arr-connects-none:before {
  content: "\e929";
}
.arr-connects:before,
.arr-connects:after,
.icon-arr-connects:before {
  content: "\e92a";
}
.panel-title a.collapsed:after,
.icon-arr-chevron-up:before {
  content: "\e92d";
}
.panel-title a:after,
.icon-arr-chevron-down:before {
  content: "\e92e";
}
.back-history:before,
.icon-arr-left-circle:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-camera:before {
  content: "\e904";
}
.icon-checkmark-circle:before {
  content: "\e905";
}
.icon-checkmark:before {
  content: "\e906";
}
.close-x:before,
.icon-close:before {
  content: "\e907";
}

.icon-close-circle:before {
  content: "\e924";
}
.icon-heart-half .path1:before {
  content: "\e908";
  color: rgb(0, 0, 0);
}
.icon-heart-half .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-heart:before {
  content: "\e90a";
}
.icon-keyboard:before {
  content: "\e90b";
}
.icon-map-pin:before {
  content: "\e90c";
}
.icon-menu:before {
  content: "\e90d";
}
.icon-mic:before {
  content: "\e90e";
}
.icon-pencil:before {
  content: "\e90f";
}
.icon-settings-outline:before {
  content: "\e910";
}
.icon-spinner:before {
  content: "\e911";
}
.clear-textarea:before,
.icon-start-over:before {
  content: "\e91d";
}
.icon-ticket:before {
  content: "\e91e";
}
.icon-ticket-outline:before {
  content: "\e912";
}
.icon-credit-card-outline:before {
  content: "\e913";
}
.booking .ti:before,
.icon-credit-card:before {
  content: "\e914";
}
.icon-expander-down:before {
  content: "\e915";
}
.icon-expander-up:before {
  content: "\e916";
}
.icon-phone-outline:before {
  content: "\e917";
}
.icon-phone:before {
  content: "\e918";
}
.icon-refresh:before {
  content: "\e919";
}
.icon-search-plus:before {
  content: "\e91a";
}
.icon-search-solid:before {
  content: "\e91b";
}
.icon-search:before {
  content: "\e91c";
}
.icon-seat-outline:before {
  content: "\e91f";
}
.icon-seat:before {
  content: "\e920";
}
.icon-settings:before {
  content: "\e921";
}
.icon-watched-outline:before {
  content: "\e922";
}
.icon-watched:before {
  content: "\e923";
}
.glyphicon.glyphicon-chevron-left:before,
.icon-arr-chevron-left:before {
  content: "\e925";
}
.swiper-arrow:after,
.glyphicon.glyphicon-chevron-right:before,
.icon-arr-chevron-right:before {
  content: "\e926";
}
.icon-thumbs-up:before {
  content: "\e92b";
}


/* end icons.css */

