
/* scott.css - in the process of being deprecated */

nav {
  min-width: 320px;  
}

 



.itin-result-count {
  float: right;
  width: auto;
  color: #FFE03E;
}


.good-bad-flights {
  font-family: sans-serif;
  font-size: 14px;
  padding-bottom: 20px;
  padding-top: 20px;
}


.total-count {
  padding-bottom: 10px;
  padding-top: 10px;
}

.total-count, .total-count > span {
  font-family: WhitneyHTF-BookCondensed;
  font-size: 18px;
  line-height: 1.0;
  letter-spacing: 0.3px;
  color: #333333;
}





/* Smart button styles */
.toggle.lbSmart {
  background-color: lightblue;
  border-color: lightblue;
  border-radius: 15px;
  min-height: 10px;
}
.toggle.lbSmart .btn-primary {
  background-color: lightblue;
  border-color: lightblue;
}
.toggle.lbSmart .btn-primary, .toggle.lbSmart .btn-default {
  border-radius: 15px;
  font-size: 11px;
}

/* end of Smart button styles */


#form_booking div.panel {
  margin-top: 20px;
}






/* Result details */




.break:after {
  content:"\000A";
  white-space: pre;
}


 




