body {
  padding-bottom: 70px;
}

body.desktop {
  height: 1625px;
}



.user-profile .fieldset {
  background-image: linear-gradient(0, #f7f7ee, #FFFFFF);
}

.user-profile .legend {
  margin-bottom: 0;
  font-size: 18px;
}

.remove-fieldset {
  cursor: pointer;
  margin-left: 5px;
  color: #ff5555;
}
