/* ---------------
   avaea.css
	 --------------- */


.hide,
.device,
.multi-city-coming-soon,
.form-fields.multi-city,
.voice-form {
	display: none;
}


/* ------- everywhere parts ------- */

/* syntax
   transition: all 0.1s ease-in-out;  
*/

body {
	font-family: 'Open-Sans', Arial, sans-serif;
	text-align: center;
	color: #000000;
	background: #ffffff;
}

a {
	display: inline-block;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}

a, 
a:visited,
a:hover, 
a:focus {
	text-decoration: none;
}

h1, h2, h3 {
	font-weight: normal;
}

header, 
footer,
.content {
  display: flex;
}

.circle {
	width: 110px;
	height: 110px;
	margin: 10px;
	display: inline-block;
	border-radius: 50%;
	transition: all 0.1s ease-in-out;
	background: #ffffff;
}

.big-button {
	border-radius: 3px;
}

.big-button {
	color: #ffffff;
	font-size: 20px;
	margin: 10px 5px;
	padding: 10px 30px;
	display: inline-block;
}


/* colors */

/* dark blue */

.navbar-header,
.navbar-header,
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form,
.navmenu-default,
.navbar-default .navbar-offcanvas,
.flight-direction {
	background: #262261;
}

.flight-type-form,
.flight-direction-form,
.multi-city-coming-soon {
	background: #004c9c;
}

.tap-date,
.tap-month,
.tap-year,
.tap-plus,
.tt-highlight,
.flight-additional-info .text-picker,
.flight-direction-item.error-flash {
	color: #004c9c;
}


/* light blue */

.big-button {
	background: #0081c9;
}

.tt-suggestion.tt-selectable {
	color: #0081c9;
}

/* partial blue */

.flight-date-info-item {
	background: #dee9f3;
}

/* grays */

.tt-hint {
	color: #999 !important;
}

.tt-suggestion:hover,
.tt-suggestion.tt-cursor {
  background-color: #f7f7f7;
}



/* highlight */

.highlight,
.error-flash {
	background: #ffffe4;
}


/* form parts */

input,
button:focus,
button:active {
	outline-color: #00b5ff;
	-webkit-focus-ring-color: #00b5ff;
}

input {
	color: #000000;
}

input.form-control {
	background: #ffffff;
}

.label-d {
	color: rgba(0, 0, 0, 0.4);
	font-family: 'Open-Sans-Semibold';
	text-transform: uppercase;
}


/* header nav */

.navbar-header,
.navbar-default .navbar-nav > li > a,
.navbar-header,
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form,
.flight-type-item {
	color: #ffffff;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover {
	font-family: 'montserrat-semibold';
  font-size: 19px;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-transform: uppercase;
}

.navbar-default .navbar-nav {
	text-align: left;
}

.navbar-brand {
	padding: 15px 5px;
}

/* sliding main menu */

.nav.navbar-nav > li {
	font-family: 'Open-Sans-Semibold';
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}

.nav.navbar-nav > li > a > b {
	font-family: 'Open-Sans';
	font-size: 12px;
  text-transform: lowercase;
	font-weight: normal;
	display: block;
}

.navbar-nav .divider {
  border-bottom: 1px solid #ffffff;
	opacity: .5;
}

.navmenu {
	margin-top: 50px;
}

.navmenu:before {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	position: relative;
		top: 0;
	background: #ffffff;
	opacity: .5;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
	background-color: transparent;
	text-shadow: none;
}

.navbar-nav {
	margin: 7.5px 0;
	width: 100%;
}

/* login */

.form-signin-heading {
	margin-top: 3em;
}

.login-holder .big-button {
	width: 70%;
}


/* search form */

.navbar {
	margin-bottom: 0;
	border: 0px solid transparent;
}

.main.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.flight-type-form {
	display: flex;
	justify-content: center;
}

.flight-type-item {
	font-family: 'Open-Sans-Semibold';
  font-size: 17px;
  opacity: .5;
  text-transform: uppercase;
  padding: 25px 12px;
}

.flight-type-item.active-choice,
.flight-type-item.voice-search-button {
	opacity: 1;
}

.multi-city-coming-soon {
	color: #ffffff;
  font-size: 18px;
	text-align: center;
	padding-top: 20px;
  padding-bottom: 132px;
}


/* from to destination arrival */

.flight-direction {

}

.flight-direction-form {
	color: #ffffff;
  padding:15px 15px 45px 15px;
}

.flight-direction-form .col-xs-6 {
	padding: 0;
}

.flight-direction-item {
  color: #ffffff;
	margin: 0 5px;
	padding: 10px 0 0 0;
	position: relative;
}

.flight-direction-item:not(.sel) {
	margin-bottom: 4px;
	border: 1px dashed rgba(255, 255, 255, 0.3);
}

.flight-direction-item span.plus {
	  font-size: 70px;
    line-height: 70px;
    position: relative;
    top: -12px;
}

.flight-direction-item-from-to {
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 10px;
	opacity: .5;
}

.flight-direction-item-selected,
.flight-direction-item-from-to-city {
  font-size: 16px;
  text-transform: uppercase;
	line-height: 1.0;
}

.flight-direction-item-selected .flight-direction-item-from-to {
	margin-top: 12px;
}

.flight-direction-item-from-to-city {
	font-size: 13px;
	height: 2em;
}

#from-airport-selected, 
#to-airport-selected {
  font-size: 48px;
	font-family: 'Open-Sans-Bold';
	letter-spacing: -.02em;
	line-height: 50px;
}

.flight-direction-form .row {
	display: flex;
	justify-content: center;
}

.flight-direction-form .col-xs-6 {
	width: 45%;
}

/* airport search */

#search_title input[type=text] {
  padding-left: 4px;
  margin:10px;
  width: 269px;
  height: 40px;
  border: 0px solid transparent;
}

.search_button_top_cancel {
  border: 0;
  background-color: transparent;
  font-family: WhitneyHTF-MediumCondensed;
  font-size: 20px;
  line-height: 1.0;
  letter-spacing: 0.2px;
  padding-top: 20px;
}

.twitter-typeahead,
.tt-menu {
  display: block !important;
}

.twitter-typeahead, 
.tt-hint, 
.tt-menu { 
	width: 100%;
}

.icon-bar {
  background-color:white !important;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-hint.form-control {
  border-radius: 0;
}

.tt-hint {
  padding: 0;
}

.tt-suggestion.tt-selectable {
	font-family: 'Open-Sans-Light';
	font-size: 16px;
	text-align: left;
	padding: 15px 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

strong.tt-highlight {
	font-family: 'Open-Sans-Semibold';
	font-weight: normal;
}

.tt-suggestion:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.tt-suggestion p {
  margin: 0;
  width:100%;
}


/* date */

.flight-date-info-item {
	font-size: 14px;
	text-align: center;  
  padding-top: 20px;
  height: 95px;
  float: left;
}

.flight-date-info-item .col-xs-12,
.flight-additional-info .col-xs-12,
.flight-date-info-item {
	padding-left: 0;
	padding-right: 0;
}

.flight-date-info.row {
	margin: 0;
}

.flight-date-info-item:first-child, 
.flight-date-info-item.sel.dep {
  border-right: 2px solid white;
}

.flight-date-info-item .row {
	margin: 0;
	padding: 0 10px;
  text-transform: capitalize;
}

.flight-date-info-item .direction,
.flight-date-info-item .weekday {
	display: inline;
}

.flight-date-info-item.sel .direction {
	padding-right: 8px;
}

.flight-date-info-item .the-date {
	font-size: 22px;
	letter-spacing: -1px;
	text-align: center; 
	padding-top: 3px;
}

.the-date .tap-year {
	padding-left: 5px;
}

.tap-plus {
	font-size: 36px;
	line-height: 36px;
}

.flight-additional-info .chooser {
	font-family: 'Open-Sans-Semibold';
	padding-top: 18px;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.flight-additional-info .text-picker {
  text-align: left;
  padding-left: 15px;
}

.flight-additional-info .label-d {
  font-size: 14px;
  text-align: right;
  padding-right: 15px;
}









/* heredeb */





/* ------- browser fixes ------- */

/* safari ignoring flex basis */
nav {
	-webkit-flex-shrink: 0;
}

/* firefox rendering font too thin */
@-moz-document url-prefix() {
	body {
    -moz-osx-font-smoothing: auto;
	}
}

/* ie11 */
html[data-useragent*='Trident'] .div .mydiv .anotherdiv {
	body: ;
}



/* end avaea.css */







