/* ---------------
   for-integration.css

   Engineers, please add
   styles you need here, not in the code
   Deborah will integrate into core.css
   during the next phase

   please be specific so new styles do not
   get picked up where they should not.

   thank you!

--------------- */


/* add just the classname to dropmenu .close-x */
.modal-content .close-x {
	font-size: 18px;
	padding: 20px;
	position: absolute;
		right: 0px;
		top: 0px;
 	z-index: 2;
}


















/* search dates error styles */


.datepicker span.active.new.error,
.datepicker span.active.old.error,
.datepicker table td.day.active.new.error,
.datepicker table td.day.active.old.error,
.datepicker span.active.error,
.bootstrap-datetimepicker-widget span.active.error:hover,
.datepicker table td.active.error,
.bootstrap-datetimepicker-widget table td.active.error:hover {
  background-color: #ed2741;
}

.datepicker span.range.error:not(.disabled),
.datepicker table td.day.range.error:not(.disabled) {
  background-color: #ffffe4 !important;
}

.flight-date-info {
  position: relative;
}

.error-date {
  color: #ed2741;
  padding: 20px;
  display: inline-block;
  position: absolute;
  top: -50px;
  left: calc(50% - 162px);
  background: #ffffe4;
  border-radius: 3px;
  z-index: 10;
}

.flight-date-info-item:first-child {
  border-right: 0px solid transparent;
}

.flight-date-info-item.dep {
  border-right: 2px solid white;
}

/* iPhone 5 */
@media (max-width: 321px) {

  .error-date {
    padding: 20px 10px;
    left: calc(50% - 152px);
  }

}

/* end for-integration.css */







