@font-face {
  font-family: WhitneyHTF-Black;
  src: url('../fonts/WhitneyHTF-Black.otf');
}

@font-face {
  font-family: WhitneyHTF-MediumCondensed;
  src: url('../fonts/WhitneyHTF-MediumCondensed.otf');
}

@font-face {
  font-family: WhitneyHTF-BookCondensed;
  src: url('../fonts/WhitneyHTF-BookCondensed.otf');
}

@font-face {
  font-family: WhitneyHTF-SemiBoldCondensed;
  src: url('../fonts/WhitneyHTF-SemiBoldCondensed.otf');
}

body {
  background-color: #eeeeee;
  color: #333333;
}

.navbar-header,.navbar-fixed-top {
  border-width: 0;
  margin-left:  -15px;
  margin-right: -15px;
  padding-left: 15px;
}

.navbar-default {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-header,.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #101742;
  color: white;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-header {
  background-color: #101742;
  color: white;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  border: 0;
  background-color: transparent;
  font-family: WhitneyHTF-MediumCondensed;
  font-size: 20px;
  line-height: 1.0;
  letter-spacing: 0.2px;
}

.navbar-default .navbar-toggle>span, .navbar-default .navbar-toggle:focus>span, .navbar-default .navbar-toggle:hover>span{
  font-size: 10px;
  top: -2px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  font-size: 20px;
  line-height: 1.0;
  letter-spacing: 0.2px;
  font-family: WhitneyHTF-Black;
  color: white;
  text-transform: uppercase;
}

.flight-info{
  background-color: #004a99;
  /*box-shadow: 0 2px 0 0 rgba(0, 22, 102, 0.2);*/
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-top: -2px;
  /*margin-left:  -15px;*/
  /*margin-right: -15px;*/
  padding: 5px;
  padding-top: 10px;
  height: 60px;
}

.requested-airports {
  font-family: WhitneyHTF-MediumCondensed;
  font-size: 18px;
  line-height: 1.0;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.flight-type {
  font-family: WhitneyHTF-BookCondensed;
  font-size: 18px;
  line-height: 1.0;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-align: center;
  border-bottom: 0;
  padding-left: 15px;
}

.flight-date {
  font-family: WhitneyHTF-BookCondensed;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.1px;
  color: #ffffff;
  padding-top: 10px;
}

.flight-date>span {
  font-size: 9px;
  margin-bottom: 2px;
  top: 0 !important;
}

.text-spacer {
  padding-left:  20px;
}
.tiles.row {
  margin-left: 0;
}

.mycustomtab {
  height: 38px;
  border-top: 4px solid  #fee148;
  font-family: WhitneyHTF-SemiBoldCondensed;
  font-size: 14px;
  line-height: 1.0;
  letter-spacing: 0.5px;
  color: #101742;
  text-transform: uppercase;
  padding: 10px;
  background-color: white;
}

.mybucket {
  width: 150px;
  margin-left: 10px;
  /*border-bottom: 1px solid #c1d3e5;*/
  background-color: white;
}

.good-bad-flights {
  font-family: sans-serif;
  font-size: 14px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.mybucket .list-group {
  border-radius: 0;
  border-bottom: 2px solid #c1d3e5;
}

.mybucket .list-group-item:first-child {
  border-radius: 0;
}

.mybucket .list-group-item, .mybucket .list-group-item .selected {
  height: 45px;
   font-family: WhitneyHTF-BookCondensed;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.4px;
  color: #101742;
  padding: 12px;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #eeeeee;
}

.mybucket .list-group-item>span, .mybucket .list-group-item .selected>span {
  font-family: WhitneyHTF-BookCondensed;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.3px;
  color: rgba(16, 23, 66, 0.4);
  font-weight: normal;
  top: 11px;
}

.selected {
  font-weight: normal;
  background-color: #F2FFEE !important;
  border-color: #E3F0DF;
}

.disabled {
  background-color: rgba(255, 123, 123, 0.1) !important;
  border-color: #EFD4D4;
  color: #BFB6C1 !important;
}

.total-count {
  padding-bottom: 10px;
  padding-top: 10px;
}

.total-count, .total-count>span {
  font-family: WhitneyHTF-BookCondensed;
  font-size: 18px;
  line-height: 1.0;
  letter-spacing: 0.3px;
  color: #333333;
}

.clear-all-filters {
  font-family: WhitneyHTF-BookCondensed;
  font-size: 18px;
  line-height: 1.0;
  letter-spacing: 0.3px;
  color: #004a99 !important;
  padding-left: 10px;
}

.undo-button {
  width: 79px;
  height: 35px;
  background-color: rgba(109, 109, 109, 0.8);
  position: fixed;
  top: 90px;
  right: 10px;
  font-family: WhitneyHTF-BookCondensed;
  font-size: 18px;
  line-height: 1.0;
  letter-spacing: 0.3px;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
}

.row.itinerary {
  margin-left: 0;
}

.itinerary {
  background-color: #ffffff;
  border-top: 1px solid #E8E8E8;
  /*border-bottom: 1px solid #E8E8E8;*/
  font-family: WhitneyHTF-BookCondensed;
  font-size: 15px;
  line-height: 0.9;
  letter-spacing: 0.3px;
  color: #333333;
  padding-top: 10px;
  padding-bottom:10px;
}

.itinerary-airline {
  font-family: WhitneyHTF-MediumCondensed;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.3px;
  color: #333333;
  text-transform: uppercase;
}

.itinerary-price {
  font-family: WhitneyHTF-MediumCondensed;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #333333;
}

.itinerary-info>div {
  margin-bottom: 4px;
}

.buy-button {
  padding-left: 15px;
  padding-right:  15px;
}

.buy-button>button {
  font-family: WhitneyHTF-BookCondensed;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.1px;
  color: #ffffff;
  border-radius: 0;
  background-color: #004a99;
  border-color: #004a99;
  max-width: 60px;
}

.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
  url('../images/ajax-loader.gif')
  50% 50%
  no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
  display: block;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.flight-type-form>.row, .flight-direction>.row{
  margin: 0;
  padding: 0;
}

.flight-type-form {
  height: 50px;
  background-color: #004a99;
  padding-left: 0;
  box-shadow: none;
  border-bottom: 1px solid #4077B2;
  /*box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.3);;*/
}

.flight-type-item {
  font-family: WhitneyHTF-MediumCondensed;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.1px;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 14px;
}

.flight-type-item.active-choice {
  color: #ffffff;
  border-bottom: 1px solid #ffe03f;
}

.flight-direction {
  height: 222px;
  background-color: #004a99;
  box-shadow: 0 2px 0 0 rgba(0, 74, 153, 0.2);
}

.container {
  padding: 0;
}

.flight-direction-item {
  width: 100px;
  height: 100px;
  background-color: #004a99;
  border: dashed 1px rgba(255, 255, 255, 0.2);
  /*color: white;*/
  font-size: 50px;
  padding-top: 10px;
  color:rgba(255, 255, 255, 0.2);
}

.flight-direction-item span {
  margin-bottom: -10px;
}

.flight-direction-item-arrow {
  width: 98px;
  font-size: 50px;
  padding-top: 10px;
  color:rgba(255, 255, 255, 0.2);
}

.flight-direction {
  align-content: center;
}

.flight-direction-item-comming-soon {
  width: 300px;
  height: 100px;
  padding-top: 40px;
  font-family: WhitneyHTF-MediumCondensed;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.1px;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  text-align: center;
}

.flight-direction-item-from-to {
  font-family: WhitneyHTF-BookCondensed;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.1px;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  padding-bottom: 10px;
}

.flight-date-info-item {
  font-size: 50px;
  padding-top: 10px;
  text-align: center;

  width:50%;
  height: 100px;
  background-color: rgba(0, 58, 124, 0.1);
  float: left;
}

.flight-date-info-item-depart, .flight-date-info-item-return {
  font-family: WhitneyHTF-MediumCondensed;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.1px;
  color: rgba(16, 23, 66, 0.4);
  text-transform: uppercase;
}

.flight-date-info-item:first-child {
  border-right: 2px solid white;
}

.flight-additional-info {
  font-family: WhitneyHTF-MediumCondensed;
  font-size: 16px;
  line-height: 1.0;
  letter-spacing: 0.1px;
  color: rgba(16, 23, 66, 0.4);
  border-color: white;
}

.flight-passengers-info-item, .flight-class-info-item {
  height: 50px;
  padding-top: 15px;
  padding-left: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #F2F2F2;
}

.flight-passengers-info-item>div, .flight-class-info-item>div {
  width: 50%;
  float: left;
}

.flight-additional-info.row, .flight-date-info.row{
  margin: 0;
  padding: 0;
}

.flight-class-info-item>.text-picker, .flight-passengers-info-item>.text-picker {
  text-transform: capitalize;
  font-family: WhitneyHTF-MediumCondensed;
  font-size: 20px;
  line-height: 1.0;
  letter-spacing: 0.2px;
  color: #004a99;
  text-align: right;
  padding-right: 15px;
}

.search-button {
  width: 375px;
  height: 64px;
  background-color: #ff2600;
  border-radius: 0;
  font-family: WhitneyHTF-BookCondensed;
  font-size: 24px;
  line-height: 1.0;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-transform: uppercase;
  border: 0;
  left:50%;
  margin-left: -187px;
  position: fixed;
  bottom: 0;
}

.nav.navbar-nav > li {
  font-family: WhitneyHTF-MediumCondensed;
  font-size: 18px;
  line-height: 1.0;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 15px;
}

/* Smart button styles */
.toggle.lbSmart {
  background-color: lightblue;
  border-color: lightblue;
  border-radius: 15px;
  margin: 3px 4px 0 0;
  min-height: 10px;
}
.toggle.lbSmart .btn-primary {
  background-color: lightblue;
  border-color: lightblue;
}
.toggle.lbSmart .btn-primary, .toggle.lbSmart .btn-default {
  border-radius: 15px;
  font-size: 11px;
}

/* end of Smart button styles */

