<div id="onlynavbar" page="login"></div>
<% if (Object.keys(providers).length) {%>

  <div class="login-holder">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="login-invite-only">
      <div>Authorization to login is by invitation only. 
      <a class="mail-link" href="mailto:contacts@avaea.com?subject=Request%20authorization%20for%20avaea.com&body=I%20would%20like%20authorization%20to%20view%20avaea.com.">Request authorization</a></div>    
    </div>
    

    <% Object.keys(providers).forEach(function (key) { %>
    <% if (key == 'google') { %>
      <a href="/auth/<%= providers[key].slug %>" class="big-button" role="button"><%= providers[key].name %></a>
    <% } %>
    <% }) %>
  </div>

<% } %>
