<script>var InitData = {user: false};</script>

<div id="onlynavbar" page="login"></div>

<%
if (typeof errors != 'undefined') {  %>
<% errors.forEach(function (error) { %>
<div class="warning" role="alert"><%= __(error) %></div>
<% }); %>
<% } %>


<% if (Object.keys(providers).length) {%>

  <div class="login-holder">

    <% Object.keys(providers).forEach(function (key) { %>
      <% if (key !== 'bearer') { %>
        <a href="/auth/<%= providers[key].slug %>" class="big-button <%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
      <% } %>
    <% }) %>
  </div>

<% } %>
<script type="text/javascript">
  function whenAvailable(name, callback) {
    var interval = 10; // ms
    window.setTimeout(function() {
      if (window[name]) {
        callback();
      } else {
        window.setTimeout(arguments.callee, interval);
      }
    }, interval);
  }
  whenAvailable("analytics", function() {
    analytics.page();
  });
</script>
