<div class="swiper-container">
  <div id="tiles" class="swiper-wrapper">
    <% for(var name in tiles) { %>
      <% var tile = tiles[name];
      if (tile.name == 'Duration' && searchParams.returnDate) {
        tile.name += '&#8644;'
      } %>
    <div class="swiper-slide">
      <div class="mybucket" id="<%= tile.id %>">
        <div class="mycustomtab"><%= __(tile.name) %></div>
        <ul class="list-group">
          <% tile.filters.forEach( function (filter) {
            if (parseInt(filter.count) > 0) { %>
          <li for='<%= filter.id %>' class="list-group-item"><div class="text"><%- filter.title %></div><span class="badge"></span></li>
            <% }
          }); %>
        </ul>
      </div>
    </div>
    <% } %>
  </div>
</div>
