<script>
  var InitSearchFormData = {
    searchParams: <%- JSON.stringify(defaultParams) %>,
    user: {email:"<%= user.email %>", id: <%= user.id %>}
  };
  var serviceClass = <%- JSON.stringify(serviceClass) %>;
</script>
<div id="searchformpage"></div>



