<form action="/result" method="post">
<!--<h2 class="form-signin-heading">Search for flights</h2>-->
<div class="input-group">
    <input type="text" name="originAirport" class="form-control" placeholder="Departing from" required autofocus/>
    <div class="input-group-addon"><span class="caret"></span></div>
</div>
<div class="input-group">
    <input type="text" name="destinationAirport" class="form-control" placeholder="Arriving to" required/>
    <div class="input-group-addon"><span class="caret"></span></div>
</div>
<label for="departureDate">Departure Date</label>
<input type="date" name="departureDate" id="departureDate" class="form-control" required/>
<label for="returnDate">Return Date</label>
<input type="date" name="returnDate" id="returnDate" class="form-control" />
<br/>
<label for="preferedClass">Class of sevice:</label>
<div class="btn-group pull-right" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="radio" name="preferedClass" id="econom" autocomplete="off" value="econom" checked> Economy
  </label>
  <label class="btn btn-sm btn-default">
    <input type="radio" name="preferedClass" id="business" autocomplete="off" class="form-control" value="business"> Business
  </label>
  <label class="btn btn-sm btn-default">
    <input type="radio" name="preferedClass" id="first" autocomplete="off" class="form-control" value="first"> First
  </label>
  <!--<div class="input-group">
    <input type="number" class="form-control" min='1' max='10' aria-describedby="basic-addon1" value="1">
    <span class="input-group-addon" id="basic-addon1">travelers</span>
  </div>-->
</div>
</div>


<style>
    body { padding-bottom: 50px; }
</style>

<div class="container">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <button type="submit" class="btn btn-lg btn-primary btn-block" >Search</button>
    </div>
  </nav>
</div>

</form>
