<div id="landscapeMode" class="modal fade text-center" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                Please return your device in vertical (portrait) mode
            </div>
        </div>
    </div>
</div>