<div id="landscapeMode" class="modal fade text-center" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content landscape-popup">
            <div class="modal-body">
                Please rotate
            </div>
        </div>
    </div>
</div>
