<script>
  var InitResultData = {
    searchParams: <%- JSON.stringify(searchParams) %>,
    user: {email:"<%= user.email %>", id: <%= user.id %>}
  };
  var serviceClass = <%- JSON.stringify(serviceClass) %>;

</script>

<div id="resultpage" class="results"></div>
<% if (typeof searchResult != 'undefined' && (searchResult.length > 10)) { %>
<div class="dimmer">
  <div class="wrapper">
    <div class="close-x"></div>
    <div class="dimmer-text">
      <div class="copy">
        Please use filters to narrow down search results.
      </div>
    </div>
  </div>
</div>
<% } %>
