<script>
  var InitResultData = {
    searchParams: <%- JSON.stringify(searchParams) %>,
    user: {email:"<%= user.email %>", id: <%= user.id %>}
  };
  var serviceClass = <%- JSON.stringify(serviceClass) %>;

</script>

<div id="resultpage" class="results"></div>
