
	 
/*  resets  */	 

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, button, cite, code, del, 
dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td {
  background-attachment: initial;
  background-clip: initial;
  background-color: transparent;
  background-image: initial;
  background-origin: initial;
  background-position: initial initial;
  background-repeat: initial initial;
  border-bottom-width: 0;
  border-color: initial;
  border-left-width: 0;
  border-right-width: 0;
  border-style: initial;
  border-top-width: 0;
  font-size: 100%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  vertical-align: baseline;
	
}

body, html {
  font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%; /* fix IOS orientation */
	-webkit-font-smoothing: antialiased; /* webkit font smoothing */
	-webkit-font-smoothing: subpixel-antialiased; /* better webkit smoothing */
  -moz-osx-font-smoothing: grayscale; /* FF font smoothing */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
div {
	display: block;
}

ul {
	list-style-type: disc;
}

table {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  border-collapse: collapse;
	border-spacing: 0;
}

table, tr, td {
	font-size: 1em;
}

input,
button,
select,
textarea {
  font-size: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
	 margin: 0;
}

input {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	border: 0px solid transparent;
	-webkit-appearance: button;
}

audio,
canvas,
video {
  display: inline-block;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clearit {
	clear:both;
  font-size:0 !important;
  height:0 !important;
  line-height:0 !important;
  margin-bottom:0 !important;
  margin-left:0 !important;
  margin-right:0 !important;
  margin-top:0 !important;
  padding-bottom:0 !important;
  padding-left:0 !important;
  padding-right:0 !important;
  padding-top:0 !important;
  visibility:hidden;
}

.clearfix:before, .clearfix:after { 
	content: ""; 
	display: table; 
}

.clearfix:after { 
	clear: both; 
}

.clearfix { 
	zoom: 1; 
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

legend {
  padding: 0;
  border: 0;
}

a {
	text-decoration: underline;
	background: transparent;
}

img,
a img,
img:active,
img.focus,
img.hover {
	border: 0px solid transparent;
}

ul.basic {
	list-style-image: initial;
  list-style-position: initial;
  list-style-type: none;
}

ul.basic li {
	display: inline-block;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

/* end reset.css */



